body{

   background: #E4E9F7;
    height: 100%;
    display: flex;
  min-height: 100vh;
  flex-direction: column;
}


body[id="gestion"]{
    background-image: url(/assets/img/aaron-burden-QJDzYT_K8Xg-unsplash.jpg);
}

@font-face {
    font-family: ViceCitySans;
    src: url(./assets/fonts/ViceCitySans.otf);
}

#navbar-1{
    border-radius:20px ;
    z-index: 2;
    font-family:ViceCitySans;
    font-size: large;
    color:indigo;

}

#libros1{
    background-color: rgb(223, 216, 206);
    border-radius:20px ;
    
    
}
#libros2{
    background-color:white;
    border-radius: 13px ;
    text-align: center;
    justify-content: center;
    font-style: italic;
    font-family: ViceCitySans;
    
    
}


#video-fondito {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    right:0;
    bottom: 0;
    z-index: -1;

  }

  #logon2{
      font-family:ViceCitySans;
      background:white;
      background-blend-mode: darken;
      border-radius: 90px;
      padding-left:5%;
      padding-right: 5%;
      padding-bottom: 10%;
      padding-top:5%;
      justify-content: right;
      opacity: 89%;
  }


  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}


#validador-ok{
    color:green;
    font-size:2vh;
}

#validador-false{
    color:red;
    font-size:3vh;
}

.validador-falso{
    color:red;
    font-size:2vh;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

#imagen404{
    background: red;
    height:20vh;
    width:20vh;
    padding:10px;
    transition: 0.5s;
}
#imagen404:hover{
    background:coral;
}

#error404{
    color:crimson;
    text-align:center;
    transition: 0.5s;

}
#error404:hover{
    color:coral;
}

.main{
    flex:1;
}
  footer{
      position:relative;
      bottom:0;
      width: 100%;
  }
  
  #formulario{
      align-content: flex-start;
  }
  #form1{
    
    background-size:contain;
    padding:20px;
    width: 40%; 
    border-radius:25px;
    margin:auto;
  }

  .checkbox{
      padding-left:10px;
  }

  .form-floating{
      padding:7px;
      
  }
  #logon{
      border-radius: 15px;
      border-spacing: 10%;
      padding-left:5%;
      padding-top:5%;
      padding-bottom: 10%;
      
  }

  


#libro-a{
    border-radius:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    font-style:italic;
    margin:0;
    

    


    
}


.carousel-item{
    height:32rem;
    background:#777;
    position:relative;
    background-position: center;
    background-size:cover;
    background-blend-mode:multiply;
    border-radius:13px;
    z-index:1;

}

#account{
    width: 2rem;
    height: 2rem;
    position:relative;
    top:20%;
    right:30%
    
}

#slide-2{
    font-family: ViceCitySans;
    color:white;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    
    padding-bottom:10%;
    padding-left: 15%;
    padding-right:5%
}

#login-desp{
    position: absolute;
    padding:20%;
    
}

#slide-3{
    font-family: ViceCitySans;
    color:white;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    
    padding-bottom:10%;
    padding-left: 10%;
    padding-right:5%
}


#slide-1{
    font-family: ViceCitySans;
    color:white;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding-bottom:10%;
    padding-left: 45%;
    
}

.grupobotones .botoncito{
    background:linear-gradient(rgb(226, 12, 12),rgb(226, 137, 36)); 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: block;
    text-decoration: none;
    cursor: pointer;
    font-size:30px;
}
.grupobotones .botoncito:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  .grupobotones .botoncito:hover {
    background: rgb(223, 164, 140);
  }

#div-gestion{
    border-radius:20px; 
    background-color: white;
}
#logo{
    margin:10px;
    width: 200px;
    height: 50px;
}

#titulo-cards{
    font-family: ViceCitySans;
    color:white;
}


.swiper-container {
    width: 100%;
    height: 100%;
  }

  

  .swiper-slide {  
    
    text-align: center;
    font-size: 18px; 
    object-fit: cover;
    


    
    
  
    

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: right;
    -webkit-box-align: right;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: right;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
  }