<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- CSS de Bootstrap + ICONITOS >:X -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
     <link rel="stylesheet" href='./estilos.css'>
     
    <title>Gestión - GN</title>
  </head>
  <body id="gestion">


  <!--Barra de Navegación importada desde navbar.html-->
  <nav th:replace="navbar :: navbar"></nav>


      <div class='main'>

    <div class="m-3" style="border-radius: 20px;  font-family: ViceCitySans; font-style: italic;" id="moduloGestion">
      
      <div class="container-flex justify-content-center"  id="form1">
       
        <div class="container-flex p-1" style="text-align: center; background-color:white; border-radius:10px;">


          <h2 style="padding:10px;">Menú Gestión</h2>
          <p id="usuarioactivo">USUARIO: G-124 - PEREZ, LAURA</p>


 
<div class="grupobotones">

  <a th:href="@{/gestion/prestamo}" class="botoncito">
    <i class="bi bi-person"> Prestamos</i>
  </a>
  <a th:href="@{/gestion/clientes}" class="botoncito">
    <i class="bi bi-person"></i> Cliente
  </a>

 <a th:href="@{/gestion/autor}"class="botoncito" >
    <i class="bi bi-person"></i> Autor</a>
  <a th:href="@{/gestion/editorial}" class="botoncito" >
    <i class="bi bi-book-half"></i> Editorial</a>

  <a th:href="@{/gestion/libro}" class="botoncito" >
    <i class="bi bi-book"> Libro</i> </a>

</div>
</div>

</div>


          



        </div>
      </div>
      
        




       
        


        </div>

     


       <!--Footer -->
  <footer th:replace="navbar :: footer"></footer>


     



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>