<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark m-3 p-1 sticky-top" id="navbar-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img th:src="@{/assets/img/logo.png}" alt="logo" id="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto" >
        <a class="nav-link active" aria-current="page" th:href="@{/}">Inicio</a>
        <a class="nav-link" th:href="@{/login}">Servicios</a>
        <a class="nav-link" th:href="@{/login}">Sucursales</a>
        <a class="nav-link" th:href="@{/login}">Buscar</a>

      </div>

      <!-- Botoncito Cuenta -->
      <div class="navbar navbar-nav ms-auto dropstart">
        <a class="nav-link" sec:authorize="hasRole('ROLE_USER_ADMIN')" th:href="@{/gestion}"><button class="btn btn-outline-light"><i class="bi-file-check"></i> Gestionar</button></a>
        <button class="btn btn-outline-light" id="sesion" data-bs-toggle="dropdown"><i class="bi-person" th:if='${session.usuariosession==null}'aria-label="account"></i><i class= "bi-person" th:if='${session.usuariosession!=null}' th:text="${'@'+session.usuariosession.username}"></i> </button>
        <div class="dropdown-menu dropleft" id="login-desp">
          <div class="container-flex"> <div th:if='${session.usuariosession!=null}'><h4 th:text="${'Bienvenido  @ '+session.usuariosession.username}"></h4><a class="btn btn-primary" th:href="@{/logout}">Cerrar Sesión</a>
          </div> </div>
          <form class="form-horizontal" th:if='${session.usuariosession==null}' th:action="@{/perform_login}" method="post" accept-charset="UTF-8" id="logon2">
          <label><img th:src="@{/assets/img/logo2.png}" style=" margin:10px; margin-right:50px;"> <H2>Iniciar Sesión</h2></label>
          <input class="form-control login" type="text" name="username" placeholder="Usuario"><br>
          <input class="form-control login" type="password" name="password" placeholder="Password"><br>
          <button class="btn btn-primary" type="submit">Conectar</button>
          </form>

          
        </div>

      </div>







    </div>
  </div>
</nav>


<footer th:fragment="footer" class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Redes sociales -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-facebook"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-instagram"></i
      ></a>


     
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021  gnLibrary
  </div>
  <!-- Copyright -->
</footer>






</body>


</html>